auto {{ device }}
iface {{ device }} inet manual
        pre-up ifup br_vpn || true
        pre-up ip link add link br_vpn name $IFACE type vlan id {{ vlan_id }}
        up ip link set dev $IFACE up
        up ip addr add {{ node_ip_address }}/{{ prefix_length }} dev $IFACE
{% if default_gw_ipv4 | default(false) %}
        up ip route add default via {{ default_gw_ipv4 }} dev $IFACE table {{ table_name }}
{% endif %}
        up ip route add {{ subnet_ipv4 }}/{{ prefix_length }} dev $IFACE table {{ table_name }}
        up ip rule add from {{ subnet_ipv4 }}/{{ prefix_length }} table {{ table_name }}
        up ip route flush cache
        down ip rule del from {{ subnet_ipv4 }}/{{ prefix_length }} table {{ table_name }}
        down ip route flush cache
        down ip route flush table {{ table_name }}
        down ip link set dev $IFACE down
        down ip link del dev $IFACE

