|rowspan="{{ item.realms|length }}"| {{ vlan_id }}
|rowspan="{{ item.realms|length }}"| {{ vlan_name }}
{% set count = 0 %}
{% for realm in item.realms %}
|{{ realm.name }}
{% if realm.default_route is defined and realm.default_route %}
|x
{% else %}
|
{% endif %}
{% if realm.split_subnets_ipv4 is defined and realm.split_subnets_ipv4 == split_subnets_ipv4 %}
|KITnet
{% elif realm.split_subnets_ipv4 is defined %}
|{{ realm.split_subnets_ipv4 | join('<br />') }}
{% else %}
|
{% endif %}
{% if loop.index0 == 0 %}
{% if item.dhcp_servers is defined and item.dhcp_servers == scc_dhcp %}
|rowspan="{{ item.realms|length }}"|SCC-DHCP
{% elif item.dhcp_servers is defined and item.dhcp_servers == atis_dhcp %}
|rowspan="{{ item.realms|length }}"|ATIS-DHCP
{% elif item.dhcp_servers is defined %}
|rowspan="{{ item.realms|length }}"|{{ item.dhcp_servers | join('<br />') }}
{% elif item.dhcp_config is defined %}
|rowspan="{{ item.realms|length }}"|SCC-DHCP-VPN<br />Pool: {{ item.dhcp_config.pool_range | join(' ') }}{% if item.dhcp_config.domains is defined %}<br />Domains: {{ item.dhcp_config.domains | join(' ') }}{% endif %}{% if item.dhcp_config.resolvers is defined and item.dhcp_config.resolvers != resolvers_vpn %}<br />Resolvers: {{ item.dhcp_config.resolvers | join(', ') }}{% elif item.dhcp_config.resolvers is defined and item.dhcp_config.resolvers == resolvers_vpn %}<br />Resolvers: SCC-Resolvers-VPN{% endif %}

{% else %}
|rowspan="{{ item.realms|length }}"|
{% endif %}
{% if item.radius is defined %}
|rowspan="{{ item.realms|length }}"|{{ item.radius.group | default("") }}
{% if item.radius.two_factor is defined and item.radius.two_factor %}
|rowspan="{{ item.realms|length }}"|x
{% else %}
|rowspan="{{ item.realms|length }}"|
{% endif %}
{% else %}
|rowspan="{{ item.realms|length }}"|
|rowspan="{{ item.realms|length }}"|
{% endif %}
{% if rng is defined and rng != '' %}
|rowspan="{{ item.realms|length }}"|{% raw %}{{DNSVS-Bereich|{% endraw %}{{ range }}{% raw %}}}{% endraw %}

{% elif rng is defined %}
|rowspan="{{ item.realms|length }}"|
{% endif %}
{% endif %}
|-
{% set count = count + 1 %}
{% endfor %}
