{% for realm in item.realms | default([]) %}
[realm {{ realm.name }}]
vid = {{ vlan_id }}
{% if openvpn_release == 'jessie' %}
dhcp_listening_device = {{ device }}
{% endif %}
dhcp_server_ips = {{ item.dhcp_servers | default(scc_dhcp_vpn) | join(', ') }}
dhcp_local_port = {{ item.dhcp_local_port | default(dhcp_local_port) }}
expected_dhcp_lease_time = {{ item.expected_dhcp_lease_time | default(expected_dhcp_lease_time) }}
{% if subnet_ipv4 | default(false) %}
subnet_ipv4 = {{ subnet_ipv4 }}/{{ prefix_length }}
{% endif %}
{% if item.ipv6_enabled | default(true) and subnet_ipv6 | default(false) %}
subnet_ipv6 = {{ subnet_ipv6 }}
{% endif %}
{% if realm.default_route | default(false) %}
default_gateway_ipv4 = {{ default_gw_ipv4 }}
{% endif %}
{% if item.ipv6_enabled | default(true) and default_gw_ipv6 | default(false) %}
default_gateway_ipv6 = {{ default_gw_ipv6 }}
{% endif %}
{% if realm.split_subnets_ipv4 | default(false) %}
static_routes_ipv4 = {% for subnet in realm.split_subnets_ipv4 %}{{ subnet }} via {{ default_gw_ipv4 }}{{ ", " if not loop.last else '' }}{% endfor %}

{% endif %}
{% if item.ipv6_enabled | default(true) and realm.split_subnets_ipv6 | default(false) %}
static_routes_ipv6 = {% for subnet in realm.split_subnets_ipv6 %}{{ subnet }} via {{ default_gw_ipv6 }}{{ ", " if not loop.last else '' }}{% endfor %}

{% endif %}
{% if not realm.default_route | default(false) %}
provide_default_route = False
{% endif %}

{% endfor %}
